*{
  box-sizing: border-box;
}
.contenedor{
  width: 100%;
  margin: 0 3%;
}
.box{
  width: 18%;
  height: 350px;
  box-shadow: 8px 10px 14px -8px #CECECE;
  float: left;
  text-align: center;
  background-color: #F4F1F1;
  padding-top: 30px;
  margin: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-family: 'Roboto', sans-serif;
}
h2{
  font-family: "Source Code Pro", monospace;
  color: #777777;
  font-size: 23px;
}
h5{
  font-style: italic;
}
.box:hover{
  padding-top: 20px;
  background-color: #fff;
  -webkit-transform: scale(1.1);
  color: #8C8F98;
  -webkit-transition: all 0.5s ease-in-out;
}

.box span{
  font-size: 50px;
}
.box:hover .blue{
  color: rgba(62, 161, 225, 1);
}
.box p{
  padding: 1% 2%;
}
.box:hover .red{
  color: rgba(224, 22, 67, 1);
}
.box:hover .cafe{
  color: rgba(106, 51, 11, 1);
}
.box:hover .orange{
  color: rgba(224, 105, 11, 1);
}
.box:hover .pink{
  color: rgba(205, 36, 122, 1);
}
